description "etcd {{ etcd.version }} distributed key-value store"
author "Robert Fach <robert.fach@gmx.net>"

start on (net-device-up
          and local-filesystems
          and runlevel [2345])
stop on runlevel [016]

respawn
respawn limit 10 5

{% for key,value in etcd.config.items() %}
env {{ key }}="{{ value }}"
{% endfor %}

chdir {{ etcd.data_directory }}
exec /usr/bin/etcd >>/var/log/etcd.log 2>&1
